body{
    margin: 0;
    height: 2135px;
    background-color: #F5F5F7;
}
/* ამომ კომენთარის ქვემოთ განთავსებულია ნავიგაციის ველში არსებული თეგების გასასტილი სელექტორები და კლასები*/
.nav-for-site{
    max-width: 1240px;
    width: 95%;
    height: 72px;
    background-color: #f5f5f7;
    margin-left: auto;
    margin-right: auto;
}

a {
    display:inline-block;
    margin-left: 20px;
    margin-top: 20px;
    color       : #000000;
    font-size: 24px;
    text-decoration: none;

}

.techblog {
    margin-right: 10px;
    font-weight: bold;
    color: #5b47d1;
}
/* ამომ კომენთარის ქვემოთ განთავსებულია header-ის ველში არსებული თეგების გასასტილი სელექტორები და კლასები*/
header{
    background-image: url(header.jpg);
    width: 100%;
    height: 400px;
}

.header-paragraph {
    font-family: sans-serif;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    color: #ffffff;
}
/* ამომ კომენთარის ქვემოთ განთავსებულია main-ის ველში არსებული თეგების გასასტილი სელექტორები და კლასები*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside{
    width: 360px;
    height: 472px;
    display: inline-block;
    vertical-align: top;
    margin: 20px;
    background-color: #ffffff;
}
.aside-paragraph{
    font-size: 15px;
    margin-left: 20px;
}

.first-row-div-top-left {
    background-color: #c7b8ff;
    width: 100%;
}
.first-row-div-top-center {
    background-color: #ffb8d8;
    width: 100%;
}
.first-row-div-top-right{
    background-color: #b8e0ff;
    width: 100%;
}

.second-row-div-top-left {
    background-color: #d4ffb8;
    width: 100%;
}
.secon-row-div-top-center {
    background-color: #ffe4b8;
    width: 100%;
}
.second-row-div-top-right{
    background-color: #ffd4b8;
    width: 100%;
}

.div-class-for-rectangel{
    width: 360px;
    height: 240px;
}

.aside-spans{
    display: inline-block;
    font-size: 13px;
    margin-left: 20px;
    padding-top: 10px;
}

h1{
    font-family: sans-serif;
    text-align: center;
    padding-top: 100px;
    font-size: 48px;
    font-weight: bold;
    color: #ffffff;
}

h2{
    font-family: sans-serif;
    margin-left: 20px;
    font-size: 36px;
    font-weight: bold;
    color: #000000;
}

h3{
    font-family: sans-serif;
    margin-left: 20px;
    font-size: 22px;
    font-weight: bold;
    color: #000000;
}
h4{
    font-size: 20px;
    color: #ffffff;
}

/* ამომ კომენთარის ქვემოთ განთავსებულია footer-ის ველში არსებული თეგების გასასტილი სელექტორები და კლასები*/
footer{ 
    width: 100%px;
    height: 403px;
    background-color: #252424;
}

.footer-first-paragraph{
    color: #a1a1a6;
}
.footer-paragraph{
    margin: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 55px;
    background-color: #020202;
    color: #86868B;
}

.box-for-footer{
    width: 1170px;
    height: 338px;
    margin-left: auto;
    margin-right: auto;
}

.first-div-for-footer, .second-div-for-footer{
    width: 360px;
    vertical-align: top;
    display: inline-block;
    font-size: 13px;
    margin-left: 20px;
    padding-top: 10px;
}


ul{       
    list-style: none;     
    padding: 0;
    color: #a1a1a6;
}

li{
    margin-bottom: 10px;
    font-size: 14px;
}



